{% extends 'base.html' %}

{% block title %}Experience & Education - Yasmin{% endblock %}

{% block content %}
<section class="portfolio-section" id="education">
    <div class="container">
        <h2 class="section-badge">Education</h2>
        <div class="experience-list">
            {% for edu in education_list %}
            <article class="card experience-card">
                {% if edu.logo_url %}
                <img src="{{ edu.logo_url }}" alt="{{ edu.institution }} Logo" class="exp-icon">
                {% endif %}
                <div class="exp-details">
                    <h3 class="org-title">{{ edu.institution }}</h3>
                    <div class="role-list">
                        <div class="role-item">
                            <h4>{{ edu.faculty }}</h4>
                            <p class="role-period">{{ edu.start_period }} - {{ edu.end_period }}</p>
                        </div>
                    </div>
                </div>
            </article>
            {% empty %}
            <p class="empty-state">Belum ada data pendidikan yang ditambahkan.</p>
            {% endfor %}
        </div>
    </div>
</section>

<section class="portfolio-section" id="experiences">
    <div class="container">
        <h2 class="section-badge">Experiences</h2>
        <div class="experience-list">
            {% for exp in experience_list %}
            <article class="card experience-card">
                {% if exp.image_url %}
                <img src="{{ exp.image_url }}" alt="{{ exp.organization }} Logo" class="exp-icon">
                {% endif %}
                <div class="exp-details">
                    <h3 class="org-title">{{ exp.organization }}</h3>
                    <div class="role-list">
                        <div class="role-item">
                            <h4>{{ exp.title }}</h4>
                            <p class="experience-description">{{ exp.description }}</p>
                            {% if exp.is_ongoing %}
                            <p class="role-period">Sedang Berlangsung</p>
                            {% else %}
                            <p class="role-period">Selesai</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </article>
            {% empty %}
            <p class="empty-state">Belum ada pengalaman yang ditambahkan.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}