{% extends 'base.html' %}

{% block title %}{{ name }} - Portfolio{% endblock %}

{% block extra_head %}
<link rel="icon" type="image/png" href="/static/img/MiziChibi.jpg">
{% endblock %}

{% block brand_name %}{{ name }}{% endblock %}
{% block footer_name %}{{ name }}{% endblock %}

{% block content %}
<section class="hero" id="profile">
    <div class="container hero-grid">
        <div class="hero-identity">
            <p class="hero-kicker">Computer Science &middot; Universitas Indonesia</p>
            <h1>{{ name }}</h1>
        </div>
        <div class="hero-photo">
            <div class="photo-block" aria-hidden="true"></div>
            <img class="avatar avatar-1" src="/static/img/FotoMizi1.jpg" alt="Profile photo">
            <img class="avatar avatar-2" src="/static/img/FotoMizi2.jpg" alt="Alternate profile photo">
        </div>
        <div class="hero-details">
            <p class="bio">{{ bio }}</p>
            <dl class="meta-list">
                <div class="meta-row">
                    <dt>NPM</dt>
                    <dd>{{ npm }}</dd>
                </div>
                <div class="meta-row">
                    <dt>Program</dt>
                    <dd>{{ study_program }}</dd>
                </div>
            </dl>
            <div class="social-links">
                <a href="https://github.com/yasmin52-cpu" class="social-link" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/yasmin-yasmin-501625378/" class="social-link" target="_blank">LinkedIn</a>
                <a href="mailto:uliansyahyasmin@gmail.com" class="social-link">Email</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}